<html>
<head><title> Pista Info </title></head>
<body>
	<table>
		<tbody>
			<tr>
				<td>Id Pista</td><td>$pista.idPista</td>
			</tr>
			<tr>
				<td>Nombre</td><td>$pista.nombre</td>
			</tr>
			<tr>
				<td>Duracion</td><td>$pista.duracion</td>
			</tr>
		</tbody>
	</table>
</body>
</html>